.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

.loader {
  width: 5rem;
  vertical-align: middle;
}

.text {
  font-size: 1rem;
  margin: 0.4rem;
  color: black;
}
