.tRow:hover {
    background-color: #f5f5f5;
}

.tData {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    vertical-align: bottom;
    font-weight: bold;   
}

.tDataLoss {
    color: red;
}

.tDataWin {
color: green;
}


.date {
 font-weight: normal;   
}

.exercise {
    text-transform: capitalize;
}