.wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.pic {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 0.5rem 0;
}

.name {
    font-weight: bold;
    text-align: center;
    white-space: wrap;

}

.losses, .dinners {
    white-space: nowrap;
    font-weight: normal;
    font-size: 70%;
    font-style: italic;
    color: #444;
}